@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
body {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh; /* Ekran yüksekliği kadar alan kapla */
  margin: 0;
  font-family: 'Poppins';
  font-size: 20px;
  background-color: #242424;
  color: white;
}
